mixin b-recomendations(data)
    +b.b-recomendations
        +e.background
            .container.cont
                +e.hidden
                    +e.ellipse-top
                        img(src='__static__img/general/top.png' alt="...")
                +e.bottom-menu
                    +e.ellipse-right
                    +e.ellipse-left
                    +e.header-flex
                        +e.header Что даст тебе обучение?
                        +e.back-flex
                            +e.back
                            +e.back
                            +e.back
                            +e.back
                        +e.bottom-flex
                            +e.stars
                                +e.item
                                    +e.img
                                        img(src='__static__img/general/stars.png' alt="...")
                                    +e.stars-text Откроешь свой первый криптокошелек и научишься <br> с ним работать
                            +e.smile
                                +e.item
                                    +e.img
                                        img(src='__static__img/general/image 41.png' alt="...")
                                    +e.stars-text Поймёшь, как выбирать <br> правильные дропы
                            +e.dollar
                                +e.item
                                    +e.img
                                        img(src='__static__img/general/dollar.png' alt="...")
                                    +e.stars-text Построишь план <br> по быстрому приумножению <br> заработанных средств
                            +e.glasses
                                +e.item
                                    +e.img
                                        img(src='__static__img/general/glasses.png' alt="...")
                                    +e.stars-text Узнаешь кто такие <br> холдеры и флипперы
                        +e.ellipse-blue
                            img(src='__static__img/general/blue.png' alt="...")
                        +e.ellipse-bottom
                            img(src='__static__img/general/bottom.png' alt="...")
